<div class="container">
    <div class="head">
        <input placeholder="Search repositories" ng-model="$ctrl.searchTerm">
        <p>
            <span ng-show="$ctrl.ready">
                <span class="col" ng-show="$ctrl.searchTerm">Repositories matching {{$ctrl.searchTerm}}</span>
                <span class="col" ng-show="!$ctrl.searchTerm">Enter a repository name</span>
            </span>
            <span ng-show="!$ctrl.ready">
                <span class="col">Loading repositories...</span>
            </span>
        </p>
    </div>
    <div class="main" ng-show="$ctrl.ready">
        <div ng-repeat="r in $ctrl.repos | filter:{name:$ctrl.searchTerm} | orderBy:'-stars'"
            after-delay="$ctrl.ready=true" class="alternating">
            <div class="spaced row">
                <span class="col-8">
                    {{r.author}}/{{r.name}} : {{r.stars}} stars
                </span>
                <span class="col-2" ng-init="files=r.files.length">
                    {{files}} files
                </span>
                <span class="col-2 btn btn-info" ng-click="showMe=!showMe" ng-init="showMe=false">Details</span>
                <repo-details class="narrowing row" ng-show="showMe" repo="r"></repo-details>
            </div>
        </div>
    </div>
</div>
